@import "variables.scss";
@import "mixins.scss";
// Global Components
body {
  overflow-x: hidden;
  @include body-font;
}

.text-muted {
  color: $gray-light;
}

.text-primary {
  color: $theme-primary;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($theme-primary, 10%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darker;
}

// Restyled Primary Buttons
.btn-primary {
  @include button-variant(white, $theme-primary, $theme-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant(white, $theme-primary, $theme-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

// Custom Navigation Bar
.navbar-custom {
  background-color: $gray-darker;
  border-color: transparent;
  .navbar-brand {
    height: 50px;
    width: 200px;
    padding: 5px;
    color: $theme-primary;
    @include script-font;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken($theme-primary, 10%);
    }
    img {
      position: relative;
      max-width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    border-color: fade-out(white, .02);
  }
  .navbar-toggle {
    background-color: $theme-primary;
    border-color: $theme-primary;
    @include heading-font;
    color: white;
    font-size: 12px;
    &:hover,
    &:focus {
      background-color: $theme-primary;
    }
  }
  .nav {
    li {
      a {
        @include heading-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        &:hover,
        &:focus {
          color: $theme-primary;
          outline: none;
        }
      }
    }
  }
  .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: $theme-primary;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: white;
    background-color: darken($theme-primary, 10%);
  }
}

@media(min-width:768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
  }
}

// Navbar Change on Scroll
@media(min-width:768px) {
  .navbar-custom.affix {
    background-color: $gray-darker;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

header {
  background-image: url('../img/hotelleblanc-lobby.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width:768px) {
  header {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}

// Estilos globales para las secciones
section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include serif-font;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
}

// Services Section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

// Seccion: Galeria
#galeria {
  .galeria-item {
    margin: 0 0 15px;
    right: 0;
    .galeria-link {
      display: block;
      position: relative;
      height: 200px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      .galeria-hover {
        background: fade-out($theme-primary, .9);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        &:hover {
          opacity: 1;
        }
        .Galeria-hover-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }        
      }
      .img-fluid {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .galeria-caption {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      background-color: white;
      text-align: center;
      padding: 25px;
      h4 {
        text-transform: none;
        margin: 0;
      }
      p {
        @include serif-font;
        font-style: italic;
        font-size: 16px;
        margin: 0;
      }
    }
  }
  * {
    z-index: 2;
  }
}

#nosotros {
  .nosotros-logo {
    position: relative;
    width: 100%;
    text-align: center;
    img {
      position: relative;
      margin: 0 auto;
    }
  }
}

@media(min-width:767px) {
  #galeria {
    .galeria-item {
      margin: 0 0 30px;
    }
  }
}

// Team Section
.team-member {
  text-align: center;
  margin-bottom: 50px;
  img {
    margin: 0 auto;
    border: 7px solid white;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

// Clientes
aside.clients {
  img {
    margin: 50px auto;
  }
}

// Seccion de contacto
section#contacto {
  background-color: $gray-darker;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  .section-heading,
  .section-subheading {
    color: white;
  }
  .form-group {
    margin-bottom: 25px;
    label {
      color: #fff;
    }
    input,
    textarea {
      padding: 20px;
      color: #000;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $theme-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
   ::-webkit-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $gray-lighter;
  }
   :-moz-placeholder {
    /* Firefox 18- */
    @include heading-font;
    font-weight: 700;
    color: $gray-lighter;
  }
   ::-moz-placeholder {
    /* Firefox 19+ */
    @include heading-font;
    font-weight: 700;
    color: $gray-lighter;
  }
   :-ms-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $gray-lighter;
  }
  .text-danger {
    color: $theme-danger;
  }
}

// Pie de pagina
footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

// Botones sociales
ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: $gray-darker;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $theme-primary;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization
::-moz-selection {
  text-shadow: none;
  background: $theme-primary;
}

::selection {
  text-shadow: none;
  background: $theme-primary;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: $theme-primary;
}